@use "../../utils" as *;

.contact {
  text-align: center;

  @include breakpoint(large) {
    text-align: left;
  }

  header {
    @include breakpoint(medium) {
      margin-top: 7rem;
      margin-bottom: 6.125rem;
    }
  }
  h2 {
    @include breakpoint(medium) {
      margin-bottom: 0;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "contact-info" "form";
    max-width: 30rem;
    margin: 0 auto;

    @include breakpoint(medium) {
      gap: 3.25rem;
    }

    @include breakpoint(large) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
      grid-template-areas: "contact-info form" "foot form";
      max-width: unset;
    }
  }

  &__info-wrapper {
    grid-area: contact-info;
  }
  &__info {
    @include breakpoint(large) {
      text-align: right;
    }

    &:not(:last-child) {
      margin-bottom: 1rem;
      @include breakpoint(medium) {
        margin-bottom: 2rem;
      }
    }

    h3 {
      margin: 0;
    }
    span {
      font-family: $ff-sans;
      text-transform: uppercase;
      font-weight: 500;
      font-size: rem(19);
      color: $clr-gray;
    }

    a {
      text-decoration: none;
      color: inherit;
      transition: 150ms ease;

      &:hover,
      &:focus-visible {
        color: $clr-white;
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: form;
    margin: 3rem 0;

    @include breakpoint(large) {
      align-items: flex-start;
      margin: 0;
      max-width: 30rem;
      padding-bottom: 1.7rem;
    }
  }
}

.input-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem;
  width: 100%;

  @include breakpoint(medium) {
    margin-bottom: 2.75rem;
  }

  @include breakpoint(large) {
    align-items: flex-start;
  }
  &__label {
  }
  &__input {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    outline: none;
    transition: 150ms ease;

    &:hover,
    &:focus {
      border-color: rgba(255, 255, 255, 1);
    }
  }
  textarea {
    min-height: 17rem;
    resize: none;
  }
}

footer {
  padding: 1rem 1.5rem;
  background: lighten($clr-black, 4%);
  text-align: center;
  @include breakpoint(medium) {
    padding: 2rem 2rem;
  }

  @include breakpoint(large) {
    grid-area: foot;
    align-self: flex-end;
    text-align: right;
  }

  p {
    margin: 0;

    .link {
      color: $clr-white;
      cursor: pointer;
    }
  }
}

// clear autocomplete styles
// input:-webkit-autofill,
// input:-webkit-autofill:hover,
// input:-webkit-autofill:focus,
// textarea:-webkit-autofill,
// textarea:-webkit-autofill:hover,
// textarea:-webkit-autofill:focus,
// select:-webkit-autofill {
//   // border: 1px solid green;
//   -webkit-text-fill-color: $clr-white;
//   background-color: $clr-black;
//   transition: background-color 0ms linear 0s;
//   // font-size: 2rem;
//   // -webkit-box-shadow: 0 0 0px 1000px #000 inset;
//   // transition: background-color 5000s ease-in-out 0s;
// }
