@use "../../utils" as *;

.projects {
  padding: 5rem 0;
  text-align: center;

  @include breakpoint(medium) {
    padding: 0;
  }

  @include breakpoint(large) {
    margin-top: rem(80);
  }

  &__header {
    @include breakpoint(medium) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: rem(130);
    }
    @include breakpoint(large) {
      padding: 0 1rem;
    }
    .btn {
      display: none;

      @include breakpoint(medium) {
        display: block;
      }
    }
  }

  h2 {
    @include breakpoint(medium) {
      margin: 0;
    }
  }

  &__container {
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 6.5rem;

      @include breakpoint(medium) {
        gap: 10rem;
      }
      @include breakpoint(large) {
        gap: 15rem;
      }

      .coming-soon {
        width: 100vw;
        overflow: hidden;

        .row {
          display: flex;
          justify-content: flex-start;
          flex-wrap: nowrap;
        }

        span {
          display: block;
          flex-shrink: 0;
          padding: 0 0.3em;
          font-size: 10vw;
          font-weight: 700;
          font-family: $ff-sans;
          opacity: 0.25;
        }
      }
    }

    li {
    }
  }
}
