@use "../utils" as *;
.btn {
  padding: rem(17) rem(40);
  @include breakpoint(media) {
    padding: rem(20) rem(50);
  }
  display: block;

  background: $clr-white;
  transition: 150ms ease-in-out;
  cursor: pointer;

  &:hover,
  &:focus-visible {
    opacity: 0.7;
  }
}
