@use "../utils" as *;

.project-card {
  @include breakpoint(medium) {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto 1fr;
    grid-template-areas: "heading img ." "content content content";
    gap: rem(30);
  }

  h3 {
    margin: rem(20) 0 rem(10);

    @include breakpoint(medium) {
      grid-area: heading;
      margin: 0;
      max-width: 7em;
      text-align: right;
    }
  }

  &__img-box {
    position: relative;
    width: fit-content;
    margin: 0 auto;
    max-width: 26rem;

    @include breakpoint(medium) {
      grid-area: img;
    }
    @include breakpoint(large) {
      max-width: 34rem;
    }

    img {
      display: block;
      width: 100%;
      // box-reflect: bottom;
      // aspect-ratio: 1 / 1.2;
      // width: 100%;
      // object-fit: contain;
      box-shadow: -5px 5px 20px 0px rgba(0, 0, 0, 0.5);
    }
    .desktop-preview {
    }
    .phone-preview {
      display: none;

      @include breakpoint(large) {
        display: block;
        position: absolute;
        bottom: -17%;
        right: -3rem;
        width: 30%;
      }
    }

    .date {
      display: block;
      position: absolute;
      left: 0;
      top: calc(100% + 1px);

      @include breakpoint(medium) {
        left: calc(100% + 2px);
        top: 1px;
        transform-origin: bottom left;
        transform: translateY(-100%) rotate(90deg);
      }
    }
  }

  &__description {
    @include breakpoint(medium) {
      grid-area: content;
      max-width: 35em;
      justify-self: center;
    }

    @include breakpoint(large) {
      max-width: 25em;
      align-self: flex-end;
      padding-left: 3rem;
    }

    p {
      margin-top: 0;

      @include breakpoint(medium) {
        text-align: left;
      }
    }
  }

  &__btn-box {
    display: flex;
    justify-content: space-around;

    @include breakpoint(medium) {
      justify-content: flex-start;
      gap: rem(65);
    }
    button {
    }
  }

  &--odd {
    @include breakpoint(large) {
      grid-template-rows: auto auto;
      grid-template-columns: auto auto auto;
      grid-template-areas: "heading img ." ". img content";
      gap: rem(30);
    }
  }

  &--even {
    @include breakpoint(large) {
      grid-template-rows: auto auto;
      grid-template-columns: auto auto auto;
      grid-template-areas: ". img heading" "content img .";
      gap: rem(30);

      h3 {
        text-align: left;
      }

      p {
        text-align: right;
      }
      .project-card__btn-box {
        justify-content: flex-end;
      }
      .date {
        left: -2px;
        transform-origin: top left;
        transform: rotate(90deg);
      }
    }
  }
}
