@use "../utils" as *;

#intro {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1001;
  background: $clr-black;
  display: flex;
  justify-content: center;
  align-items: center;

  &.hide {
    display: none;
  }

  svg {
    fill: $clr-white;
    width: clamp(6.5rem, 30vw, 35rem);
    aspect-ratio: 43 / 26;
    overflow: visible;
  }
  #logo-m-letter,
  #logo-k-letter {
    display: block;
    opacity: 0;
  }
}
