@use "../utils" as *;

main {
      margin: 0 auto;
      // background: pink;
      width: 92%;
      max-width: 20rem;

      @include breakpoint(medium) {
            max-width: 57rem;
            width: 92%;
      }
      @include breakpoint(large) {
            max-width: 90rem;
            width: 92%;
      }
}
