@use "../utils" as *;

main {
  margin: 0 auto;
  // background: pink;
  padding: 0 1.5rem;
  max-width: 30rem;

  @include breakpoint(medium) {
    max-width: 57rem;
    width: 92%;
    padding: 0;
  }
  @include breakpoint(large) {
    max-width: 90rem;
    width: 92%;
  }
}
