@use "../utils" as *;

*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  // width: 100%;
}
body {
  box-sizing: border-box;
  width: 100%;
  min-height: 300vh;
  margin: 0;
  padding: 0;
  background: $clr-black;
  color: $clr-white;
  // overflow: hidden;
}
